{% extends "home/base.html" %}
{% load static %}

{% block content %}
    <!-- About Section -->
    <div class="container my-5 text-center">
        <h1>About {{ restaurant_name }}</h1>
        <p class="lead">
            We are passionate about delivering special meals with the freshest ingredients.
            Our team is dedicated to giving you the best dining experience.
        </p>
        <img src="{% static 'home/images/restaurant.jpg' %}" alt="Restaurant Image" class="img-fluid rounded shadow" style="max-width: 600px;">
    </div>
{% endblock %}
