{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{restaurant_name}} Management System </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
</head>
<body class="bg-light">

    <!-- Navbar (shared across all pages) -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">
                <img src="{% static 'home/images/logo.png'%}" alt="Restaurant Logo" width="40" height="40" class="me-2 rounded-circle">{{ restaurant_name }} </a>
        </div>
    </nav>

    <!-- Content block (each page fills this part) -->
    <main class="container my-5">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer (shared across all pages) -->
    <footer class="bg-dark text-white text-center py-3">
        &copy; {{ now|date:"Y" }} My Restaurant
        <!--^ automatically shows the current year as shown above -->

        
        <div class="mt-2">
            <small>Opening Hours: {{restaurant_opening_hours}}</small>
        </div>
    
    </footer>
</body>
</html>