{% extends "home/base.html" %}

{% block content %}
    <!--Big Logo at top pf homepage -->
    <img src="{%static 'home/images/logo.png'%}" alt="Restaurant Logo" class="img-fluid mb-4">

    <!--Restaurant name shown dynamically from views.py -->
    <h1 class="mb-4 text-primary">Welcome {{ restaurant_name }} Management System </h1>

    <!-- A short welcome message -->
    <p class="lead">Manage your orders, tables and menus effeciently.</p>

    <!-- Phone number displayed here -->
    <p class="fw-bold contact-phone">Call us: {{ restaurant_phone }}</p>

    <!--Search Bar Section -->
    <form method="get" action="#" class="d-flex justify-content-center my-4">
        {#
            For now "action" is set to "#" meaning it doesn't submit anywhere.
            Later, you can change this to point to your search view.
        #}
        <input type="text" name="q" class="form-control w-50 me-2" placeholder="Search menu items...">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <!-- Link to the About page -->
    <a href="{% url 'about' %}" class="btn btn-primary">Get Started</a>

    <!--Menu Section-->
    <h2 class="mt-5">Our Menu</h2>
    <div id="menu-list" class="row">
        <!--Menu items will be injected here using javascript-->
    </div>
{% endblock %}
<!--Script to fetch menu items from API-->
<script>
    document.addEventListener("DOMContentLoaded", function(){
        //Call the API endpoint created
        fetch("/api/menu/").then(response => response.json()).then(data => {
            let menuList = document.getElementById("menu-list");

            //Check if menu has items
            if(data.length === 0){
                menuList.innerHTML = "<p class = 'text-center text-muted'>No menu items available.</p>";
                return;
            }
            //Loop through each menu item and create HTML
            data.forEach(item => {
                let card = <div class = "col-md-4 mb-3">
                                <div class = "card shadow-sm h-100">
                                    <div class = "card-body">
                                        <h5 class = "card-title">${item.name}</h5>
                                        <p class = "card-text">${item.description}</p>
                                        <p class = "fw-bold">$${item.price}</p>
                                    </div>
                                </div>
                            </div>
                        ;
                    menuList.innerHTML += card; 
            });
        })
        .catch(error => {
            console.error("Error fetching menu:", error);
        });
    });
</script>