{% extends "home/base.html" %}

{% block content %}
    <!--Big Logo at top pf homepage -->
    <img src="{%static 'home/images/logo.png'%}" alt="Restaurant Logo" class="img-fluid mb-4">

    <!--Restaurant name shown dynamically from views.py -->
    <h1 class="mb-4 text-primary">Welcome {{ restaurant_name }} Management System </h1>

    <!-- A short welcome message -->
    <p class="lead">Manage your orders, tables and menus effeciently.</p>

    <!-- Phone number displayed here -->
    <p class="fw-bold contact-phone">Call us: {{ restaurant_phone }}</p>

    <!-- Link to the About page -->
    <a href="{% url 'about' %}" class="btn btn-primary">Get Started</a>
{% endblock %}